:root {
    --color-blue: #0038FF;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-half: #808080;
}

/* FONTS */

@font-face {
    font-family: 'Jakarta Sans';
    src:
      url('../fonts/PlusJakartaSans-Variable.woff2') format('woff2 supports variations'),
      url('../fonts/PlusJakartaSans-Variable.woff2') format('woff2-variations'),
      url('../fonts/PlusJakartaSans-Variable.woff') format('woff supports variations'),
      url('../fonts/PlusJakartaSans-Variable.woff') format('woff-variations');
    font-weight: 200 800;
  }

@font-face {
    font-family: 'Erode';
    src:
      url('../fonts/Erode-Variable.woff2') format('woff2 supports variations'),
      url('../fonts/Erode-Variable.woff2') format('woff2-variations'),
      url('../fonts/Erode-Variable.woff') format('woff supports variations'),
      url('../fonts/Erode-Variable.woff') format('woff-variations');
    font-weight: 300 700;
  }

@font-face {
    font-family: 'iA Writer';
    src:
      url('../fonts/iAWriterQuattroS-Bold.woff2') format('woff2'),
      url('../fonts/iAWriterQuattroS-Bold.woff') format('woff');
    font-weight: bold;
  }

@font-face {
    font-family: 'iA Writer';
    src:
      url('../fonts/iAWriterQuattroS-Regular.woff2') format('woff2'),
      url('../fonts/iAWriterQuattroS-Regular.woff') format('woff');
    font-weight: normal;
  }

html {
    font-family: 'iA Writer', 'Helvetica Neue', Helvetica, sans-serif;
}

h1, h2, h3, h4, p, a, ul {
    margin: 0;
}

h1, h2, h3, h4, #nav a {
    font-weight: bold;
}

/* h1, h2, h3, h4 {
    font-family: "Erode", Georgia, 'Times New Roman', Times, serif;
} */

h1, h2 {
    font-size: clamp(2.5rem, 8vw, 4.5rem);
    letter-spacing: -0.1rem;
    line-height: 1.2em;
}

h3 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    letter-spacing: -0.05rem;
    line-height: 1.3em;
}

h4 {
    font-size: 1.3rem;
    line-height: 1.3em;
}

p, a, ul {
    font-size: 1rem;
}

p, ul {
    font-weight: normal;
    line-height: 1.3em;
    margin: 0.5rem 0;
}

a {
    text-decoration: none;
    color: black;
    transition-duration: 300ms;
}

a:hover {
    color: var(--color-half);
    transition-duration: 300ms;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.2rem 0;
}

.block h3 {
    margin: 0;
    margin-bottom: 2rem;
}

.stack h3 {
    margin-bottom: 2rem;
}

.yap h3 {
    margin: 1.5em 0;
}

.duo h4 {
    margin: 1.5rem 0 0.5rem 0;
}

.labels {
    color: var(--color-blue);
}

/* DOCUMENT */

body {
    background-color: var(--color-white);
    margin: 0;
}

#container {
    margin: 1rem;
}

#content {
    margin: 0 auto;
    max-width: 1920px;
}

#sticky {
    position: fixed;
    top: 0;
    width: calc(100% - 32px);
    background-color: var(--color-white);
    max-width: 1920px;
    z-index: 1;
}

#nav {
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#nav img {
    display: block;
    width: auto;
    height: 40px;
    transition-duration: 300ms;
    margin: 1rem 0;
}

#nav img:hover {
    opacity: 50%;
    transition-duration: 300ms;
}

#links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

#current-page {
    text-decoration: underline;
    text-decoration-color: var(--color-blue);
    text-decoration-thickness: 2px;
    text-underline-offset: 0.5em;
}

#hero {
    height: calc(100vh - 32px);
    height: calc(100svh - 32px);
    /* height: calc(calc(var(--vh, 1vh) * 100) - 32px); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

#banner {
    height: calc(50vh - 32px);
    height: calc(50svh - 32px);
    /* height: calc(calc(var(--vh, 1vh) * 50) - 32px); */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

#main {
    margin-bottom: 0;
}

.arrow {
    color: var(--color-blue);
}

.block {
    margin: 5rem 0 ;
}

.block img {
    display: block;
    width: 100%;
    height: auto;
}

.duo, .duo > div {
    margin: 5rem 0;
}

.stack {
    margin: 2rem 0;
}

.stack:last-child {
    margin-bottom: 0;
}

.stack p {
    margin-top: 1rem;
}

.portfolio-item {
    opacity: 100%;
    transition-duration: 300ms;
}

.portfolio-item:hover {
    opacity: 50%;
    transition-duration: 300ms;
}

.desc {
    margin: 0 auto;
    max-width: 720px;
}

.desc p {
    margin: 1.3em 0;
}

.yap {
    max-width: 960px;
}

.skills {
    margin: 0;
    padding: 0;
}

.invis {
    display: none;
    visibility: hidden;
}

button {
    width: 100%;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition-duration: 300ms;
}

button:hover {
    background-color: var(--color-black);
    transition-duration: 300ms;
}

video {
    width: 100%;
    height: auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 761px) {
    #nav img {
        display: block;
        width: auto;
        height: 50px;
    }

    .duo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .duo > div {
        margin: 0;
    }

    .duo > div:first-child {
        margin-top: 0rem;
    }

    .stack {
        margin: 5rem 0;
    }

    .stack h3 {
        margin-bottom: 2rem;
    }

    .yap h3 {
        margin: 1.5em 0;
    }

    .expt {
        margin-bottom: 2rem;
    }

    .invis {
        display: block;
    }

    button {
        width: auto;
        padding: 1em;
    }
}

@media screen and (min-width: 1280px) {
    #hero {
        height: calc(50vh - 32px);
        display: flex;
        flex-flow: row nowrap;
        gap: 16px;
        align-items: flex-end;
        justify-content: flex-start;
        margin-bottom: 25vh;
    }

    .arrow {
        transform: rotate(-90deg);
        margin-bottom: 50%;
    }
}