/* Fonts */

@font-face {
    font-family: 'Instrument';
    src: url(./sources/InstrumentSerif-Regular.woff2) format('woff2');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Quattro';
    src: url(./sources/iAWriterQuattroS-Regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Quattro';
    src: url(./sources/iAWriterQuattroS-Bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
}

/* Document */

:root {
    --body-margin: 10px;
    --color-sky-blue: #64b5d4;
    --color-dirty-blue: #d3e0f3;
    --color-burnt-orange: #e26906;
    --color-light-gray: #f3f6fb;
}

body {
    background: white;
    height: 100%;
    margin: var(--body-margin);
}

h1, h2, h3 {
    font-family: 'Instrument', 'Times New Roman', serif;
}

h1, h2 {
    font-size: calc(clamp(4.25rem, 13vw, 12rem) - calc(var(--body-margin) * 2));
    line-height: calc(clamp(4.25rem, 15vw, 12rem) - calc(var(--body-margin) * 2));
    margin: 0;
}

h1, h3 {
    text-align: center;
}

h1 {
    margin-bottom: 60px;
}

h3 {
    font-size: calc(clamp(3.5rem, 10vw, 6rem) - calc(var(--body-margin) * 2));
    margin-bottom: 40px;
}

p, a {
    font-family: 'Quattro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: -0.025rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: black;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    filter: drop-shadow(0 8px 8px var(--color-dirty-blue));
}

#hero {
    background: linear-gradient(to bottom, var(--color-light-gray), white);
    height: 100%;
}

#navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: calc(var(--body-margin) * 2);
    border-bottom: 1px solid black;
    margin: 10px 20px 35vh 20px;
    padding: 20px 0 10px 0;
}

#navigation a:hover {
    color: var(--color-burnt-orange);
}

#content {
    margin: 0 auto;
}

.text {
    max-width: 780px;
    margin: 0 auto;
    margin-bottom: 10vh;
    padding: 0 20px;
}

#gallery {
    display: grid;
    gap: 40px;
}

.vert {
    height: 50vh;
    width: 50%;
    border-right: 2px solid black;
}

#links {
    background: black;
    margin-top: 40px;
    padding: 10px;
}

#links-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: calc(var(--body-margin) * 2);
    border-top: 1px solid var(--color-sky-blue);
    margin: 10px;
    padding-top: 10px;
}

#links-flex a {
    color: white;
}

#links-flex a:hover {
    color: var(--color-burnt-orange);
    cursor: pointer;
}

@media screen and (min-width: 1080px) {
    .text {
        margin-bottom: 15vh;
        padding: 0 15%;
    }

    #gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1920px) {
    #gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}