/* Text */

@font-face {
    font-family: 'Basteleur';
    src: url(./sources/Basteleur-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Basteleur';
    src: url(./sources/Basteleur-Moonlight.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, p, a {
    color: rgb(255, 255, 253);
}

h1, h2, h3 {
    font-family: 'Basteleur', Helvetica, sans-serif;
    font-weight: normal;
    font-size: clamp(2rem, 2rem + 5vw , 8rem);
}

p, a {
    font-family: 'Inter', Helvetica, sans-serif;
    font-weight: normal;
    font-size: clamp(1rem, 1rem + 1vw , 1.6rem);
    text-decoration: none;
}

h1:hover, h2:hover, h3:hover {
    font-weight: bold;
}

a:hover {
    cursor: pointer;
    color: rgb(253, 36, 65);
}

h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    margin-bottom: 6vh;
    margin-top: 4vh;
}

/* General Body */

body {
    background-color: rgb(20, 20, 20);
    margin: 0;
}

#page-container {
    margin: 0 auto;
    padding: 4vh 4vw 0 4vw;
}

div.segment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-left: -4vw;
    margin-right: -4vw;
}

div.segment div {
    padding-left: 4vw;
    padding-right: 4vw;
}

/* Navigation */

div#div-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 4vh;
}

/* Hero */

div#hero {
    padding-top: 8vh;
    padding-bottom: 12vh;
}

/* body */

div.div-body {
    background-color: rgb(47, 0, 255);
    padding-top: 8vh;
    padding-bottom: 12vh;
}

div#body-exp {
    padding-bottom: 8vh;
}

div#body-edu {
    padding-top: 0;
}

div.body-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

div.body-container div {
    background-color: rgb(20, 20, 20);
    border-bottom: 4px solid rgb(0, 0, 0);
}

div.item-container {
    padding: 10px !important;
}

.item-body {
    margin: 0.5rem;
}

.item-title {
    font-weight: bold;
}

.item-date {
    color: rgb(255, 255, 253, 50%);
}

/* Links */

div#links {
    background-color: rgb(255, 255, 253);
    padding-top: 6vh;
    padding-bottom: 10vh;
}

#links-title {
    color: rgb(253, 36, 65);
}

div.links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

div.links-container div {
    background-color: rgb(47, 0, 255);
    border-bottom: 4px solid rgb(15, 0, 83);
}

div.links-container div:hover {
    background-color: rgb(253, 36, 65);
    border-bottom: 4px solid rgb(131, 0, 17);
}

/* Queries */

@media only screen and (max-width: 600px) {
    div.body-container div {
        width: 100%;
    }

    div.links-container a {
        width: calc(100% - 4vw);
    }

    div.links-container p {
        text-align: center;
    }
    
    div#body-edu {
        padding-bottom: 10vh;
    }
    
    div#links-container {
        padding: 10vh 0;
    }
}